/* main: style.scss */
#content {
    min-height: 400px;
}

table {
    margin: $spacing-l 0;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: $spacing-s $spacing-m;
    padding-bottom: $spacing-s - 1px;
    border-bottom: 1px solid $gray;
}

/* @group ----- Header ----- */

header {
    position: relative;
    //margin-bottom: 2 * $spacing-l;
}

/* @end */

.home-blocks{
  .intro{
    width: span(6 of 12);
    padding-right:3rem;
    border-right: 1px solid $primary-light;
  }

  .right{
      width: span(6 of 12);
      padding-left: 3rem;
  }
}

.siema{
  display: block;
}

.more-news{
  display: block;
  text-align: right;
  padding:0.2rem 0 0.5rem;


  a.btn{
    font-size: 1.8rem;
  	padding:0.1rem;
  	color: $primary;
    border-top: 2px solid $primary;
  }
}

.more-news-showcase{
  display: block;
  text-align: right;
  margin: 3rem 0;
  padding:1rem 0 0.5rem;
  border-top:1px solid rgba($primary,0.1);


  a.btn{
    font-size: 1.8rem;
  	padding:0.1rem;
  	color: $primary;

    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f105";
        margin-left: 5px;
        font-weight: 900;
    }
  }
}


.news-item{
  display: flex;

  h3{
    margin-top: 0;
    color: $primary;
  }

  .thumbnail{
    margin-right: 3rem;

    img{
      width: 300px;
      max-width: 300px !important;
    }
  }

  .body{
    h4{
      margin: 0 0 1rem 0;
    }
  }
}

.item-showcase {
    margin: 0;
    margin-bottom: 6rem;
    //padding: ($spacing-l - 1px) 0 0;
    overflow: hidden;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.69492%;
}

.item-showcase .resource.item {
      margin-bottom: 0;

    &:not(:only-child) {
        width: span(4 of 12);
        width: 33.33%;
        clear: none;
        padding: 0 gutter();
    }
}


/* @group ----- Item show ----- */
.item-show{
  display:flex;
  max-width: none;

  .media-embeds{
    flex: 1 1 span(7 of 12);
    margin-right: 20px;
    padding-right: 25px;
    border-right: 1px solid #eee;
  }

  .metadata{
    flex: 1 1 span(5 of 12);
    padding: 0 gutter();
  }
}


.masonry{
    column-count: 4;
    column-gap: 40px;

   .body{
     padding: 0;
   }
}

.preview-block .homepage.masonry{
  display: flex;
}

/* @end */

footer {
    .contact{
      width: span(3 of 12);
      padding-right: 3rem;

    }

    .logos{
      width: span(9 of 12);
    }
}


/* @end */
